<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="no" xml:lang="no" >
    <head>
        <title>{% block head_title %}token-auth{% endblock %}</title>
         <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
    </head>
    <body class="{% block bodyclass %}default{% endblock %}">
    {% block top %}
        {% block body %}
            {% block navigation %}{% endblock %}
            {% block token_auth %}{% endblock %}
        {% endblock %}
    {% endblock %}
    </body>
</html>

